<div id="prod-top" class="prod-top-img col-md-12">
    <div class="cart_header">
        <p class="text-info">Here you can edit the items, go back to the store, clear the cart, or check out.</p><br />
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid content-backcolor">
        <div class="col-md-8">

            <!-- items -->
            <table class="table table-bordered tab-shop">

                <!-- header -->
                <tr class="well">
                    <td><b>Item</b></td>
                    <td class="tdCenter collapsible"><b>Quantity</b></td>
                    <td class="tdRight collapsible"><b>Price</b></td>

                    <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0">
                    <td class="tdCenter collapsible" colspan="3">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="item in cart.items | orderBy:'productname'">
                    <td ng-bind-html="item.productname | unsafe"></td>
                    <td class="tdCenter">
                        <div class="input-append">
                            <!-- use type=tel instead of to prevent spinners -->
                            <input class="col-md-3 text-center quantity-prod" type="tel"
                                   ng-model="item.quantity"
                                   ng-change="cart.saveItems()" />
                            <button class="btn btn-x-success" type="button" 
                                ng-disabled="item.quantity >= 1000"
                                ng-click="cart.addItem(item.sku, item.productname, item.unitprice, +1)">
                                +
                            </button><button class="btn btn-x-default" type="button"
                                    ng-disabled="item.quantity < 1"
                                    ng-click="cart.addItem(item.sku, item.productname, item.unitprice, -1)">
                                -
                            </button>
                        </div>
                    </td>
                    <td class="tdRight">{{item.unitprice * item.quantity | currency}}</td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
            </table>
        </div>


        <!-- buttons -->
        <div class="col-md-4">
            <p class="text-info">
                <button class="btn btn-block btn-default"
                        onclick="window.location.href='/storefront.html'">
                    <i class="icon-chevron-left" /> back to store
                </button>
                <button class="btn btn-block btn-x-danger"
                        ng-click="cart.clearItems()"
                        ng-disabled="cart.getTotalCount() < 1">
                    <i class="icon-trash icon-white" /> clear cart
                </button>
            </p>

            <br />

            <p class="text-info" style="display:none;">
                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 1.4em; font-weight: bold">
                    <span style="color: #FF0000;">You DO <span style="text-decoration: underline;">NOT</span> need a PayPal account to use PayPal.</span><br />You can pay with your own debit/credit card, bank account, or PayPal balance.
                </span><br /><br />


            <p class="text-info">
                <button class="btn btn-block btn-x-success"
                        ng-click="cart.checkout('PayPal')"
                        ng-disabled="cart.getTotalCount() < 1">
                    <i class="fa fa-check" /> check out using <strong><em>PayPal</em>&#174;</strong>
                </button>
                <button class="btn btn-block btn-x-success"
                        ng-click="cart.checkout('Google')"
                        ng-disabled="cart.getTotalCount() < 1">
                    <i class="fa fa-check" /> check out using <strong><em>Google</em>&#174;</strong>
                </button>
                <button class="btn btn-block btn-x-success"
                        ng-click="cart.checkout('Stripe')"
                        ng-disabled="cart.getTotalCount() < 1">
                    <i class="fa fa-check" /> check out using <strong><em>Stripe</em>&#174;</strong>
                </button>



            </p>
            <!-- Stripe needs a form to post to -->
            <form class="form-stripe"></form>

            <br />
            <img src="ac_img/cc.png" />
            <br /><br />

            <p class="text-info">
                <button class="btn btn-block btn-link"
                        ng-click="cart.checkout('PayPal')"
                        ng-disabled="cart.getTotalCount() < 1">
                    <img src="ac_img/ck_out_paypal.png" alt="checkout PayPal" style="border-width: 0px !important;outline:none !important;" />
                </button>
                <button class="btn btn-block btn-link"
                        ng-click="cart.checkout('Google')"
                        ng-disabled="cart.getTotalCount() < 1">
                    <img src="ac_img/ck_out_google_wallet.png" alt="checkoutGoogle" />
                </button>
                <button class="btn btn-block btn-link"
                        ng-click="cart.checkout('Stripe')"
                        ng-disabled="cart.getTotalCount() < 1">
                    <img src="ac_img/ck_out_stripe.png" alt="checkoutStripe" />
                </button>
            </p>
        </div>
    </div>
</div>

