
  <div id="store" class="content col-md-12" style="overflow: hidden;">    
    <form class="form-search"> 
        <div class="col-md-12 store-cart-content">
            <div class="content-store col-md-5" >
                <a href="storefront.html#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                    <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                    <div class="btn btn-cart" ng-click="storefront.html#/cart">go to<img src="ac_img/cart.png" alt="" /></div>
                </a>

            </div>

            <div class="tabs-menu col-md-5" style="white-space:nowrap !important;">
                <ul class="cbp-vm-options">
                    <li ng-repeat="section in sections">
                        <!--<a ng-href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
                        <a ng-href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>-->
                        <a class="cbp-vm-icon cbp-vm-grid {{section.class}}" ng-class="{cbpvmselected : isSelected(section)}"  ng-click="setMaster(section)">{{section.name}}</a>
                    </li>  
                </ul>
            </div>

        </div>
        <div class="col-md-12 store-button-top">
                <table style="float:right;">
                    <tr>
                        <td><button class="btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><</button></td>
                        <td><p>&nbsp;&nbsp;{{currentPage + 1}}/{{numberOfPages()}}&nbsp;&nbsp;</p></td>
                        <td><button class="btn" ng-disabled="currentPage >= store.products.length/pageSize - 1" ng-click="currentPage=currentPage+1">></button></td>
                    </tr>
                </table>                            


            <div class="content-search">
                <input type="text" ng-model="query" ng-change="search('productname')" class="search-query" placeholder="Search">
            </div>
            <div class="filter-button-top">
                <button class="btn flr-top-first" ng-click="myFilter('categoryname',null)">All</button>
                <button class="btn flr-top" ng-click="myFilter('categoryname','software')">Software</button>
                <button class="btn flr-top" ng-click="myFilter('categoryname','cool')">Cool</button>
                <button class="btn flr-top flr-last" ng-click="myFilter('categoryname','course')">Courses</button>
            </div>

        </div>
        <div class="clear"></div>
        <div id="cbp-vm" class="cbp-vm-switcher" ng-class="{true: '', false: 'activegrid'}[isActive]">
        <ul id="product" class="nav-pills nav-stacked rectangle-list">
            <li ng-animate="'animate'" ng-repeat="product in pagedItems[currentPage] | filter:query | orderBy:'sortorder'" >

                <div ng-show="product.showvideo < 1">
                    <a href="#" ng-click="launchSimpleModal(product)"><img ng-src="ac_products/{{product.imagename}}" alt="{{product.productname}}" class="imgcart" /></a><br />

                </div>
                <div ng-show="product.showvideo > 0">
                    <iframe class="imgcart" style="padding-bottom: 24px !important;max-height: 280px !important;overflow:hidden;height:280px;width:300px" width="300" height="280" src="http://www.youtube.com/embed/{{product.videoid}}" frameborder="0" allowfullscreen></iframe><br />
                </div>
                <div style="padding-bottom: 2px !important;"></div>

                <a class="ztitle" href="#/products/{{product.sku}}"><span ng-bind-html-unsafe="product.productname"></span></a>
                <p class="zdescription" ng-bind-html-unsafe="product.shortdesc"></p>


                <a href="" ng-click="cart.addItem(product.sku, product.productname, product.unitprice, 1)">
                <div class="btn btn-cart">Add cart</div>
                </a>
                <a class="details-button" href="#/products/{{product.sku}}">
                <div class="btn btn-cart">Details</div>
                </a>
                <a class="categoryname" href="#">{{product.categoryname}}</a>
                <p class="content_desc"> 
                        {{product.unitprice | currency}} 
                        <span ng-show="cart.getTotalCount(product.sku) > 0"><i class="fa fa-check"></i>{{cart.getTotalCount(product.sku)}}</span>
                    </p>
                <div ng-show="product.link.length > 0">
                    <p style=" text-align:left;"><a href="{{product.link}}" target="_blank"><span class="btn btn-custom">{{product.linktext}}</span></a></p>
                </div>
                <div class="clear"></div>
            </li> 
        </ul>

        <div class="col-md-12 store-cart-content store-cart-footer">
            <div class="content-store col-md-5" >
                <a href="storefront.html#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                    <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                    <div class="btn btn-cart" ng-click="storefront.html#/cart">go to<img src="ac_img/cart.png" alt="" /></div>
                </a>
            </div>
            <div class="col-md-5 store-down-bottom">
                <table style="float:right;">
                    <tr>
                        <td><button class="btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><</button></td>
                        <td><p>&nbsp;&nbsp;{{currentPage + 1}}/{{numberOfPages()}}&nbsp;&nbsp;</p></td>
                        <td><button class="btn" ng-disabled="currentPage >= store.products.length/pageSize - 1" ng-click="currentPage=currentPage+1">></button></td>
                    </tr>
                </table>                            
            </div>
        </div>

    </div>
    </form>
  </div>

