@import url(http://fonts.googleapis.com/css?family=Crafty+Girls|Poiret+One|Paytone+One|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Anton|Shadows+Into+Light|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Oswald:400,300,700|Oxygen:400,300,700|Francois+One|Nunito:400,300,700|Changa+One:400,400italic|Righteous|Shadows+Into+Light+Two|Passion+One:400,700,900|Archivo+Black|Scada:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'BebasNeuewebfont';
	src: url('../fonts/BebasNeuewebfont.eot');
	src: local('BebasNeuewebfont'), url('fonts/BebasNeuewebfont.woff') format('woff'), url('fonts/BebasNeuewebfont.ttf') format('truetype');
}
@font-face {
    font-family: 'quicksand regular';
    src: url("../fonts/quicksand-regular.eot");
    src: url("../fonts/quicksand-regular.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-regular.woff") format("woff"), url("fonts/quicksand-regular.ttf") format("truetype"), url("fonts/quicksand-regular.svg#svgFontName") format("svg");
}



a:hover {
    color: #fff;
    text-decoration: none;
}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0} 

.animate-enter, 
.animate-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: rotateX(-180deg) translatez(30px);
    -moz-transform: rotateX(-180deg) translatez(30px);
    -ms-transform: rotateX(-180deg) translatez(30px);
    -o-transform: rotateX(-180deg) translatez(30px);
    transform: rotateX(-180deg) translatez(30px);
    opacity: 0;
    height: 0px;
}        

.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: rotateX(0deg) translatez(30px);
    -moz-transform: rotateX(0deg) translatez(30px);
    -ms-transform: rotateX(0deg) translatez(30px);
    -o-transform: rotateX(0deg) translatez(30px);
    transform: rotateX(0deg) translatez(30px);
    opacity: 1;
    height: 30px;
}
.logo {
	float:left;
	margin: 20px 10px 0px 20px;
}
.container-shadow {
	box-shadow:0 2px 5px rgba(0,0,0,0.4);
}
.container .well{
    margin-left:auto;
    background-color:rgba(255,255,255,1);
    margin-right:auto;
    font-family: 'quicksand regular', Sans-Serif;
    text-transform: capitalize;
	font-weight:300;
	border-radius: 1px;
	margin-top:20px;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	margin-bottom:0px;
	border-top: 1px solid #E3E3E3;
	border-left: 0px solid #E3E3E3;
	border-right: 0px solid #E3E3E3;
	border-bottom: 1px dotted #E3E3E3;
    }

#store.col-md-12{
    float:none;
    margin-left: auto;
    margin-right: auto;
    }
.flr-top-first {
	 margin:10px 5px 0 30px;
	 background-color: #F5F5F5;
	 background-image: none;
}    
button.flr-top {
	 margin:10px 5px 0 0;
	 background-color: #F5F5F5;
	 background-image: none;
}

/*
.container li{
    border-bottom: 1px solid #eee; 
    font-size: 14px; 
    list-style: none; 
    padding: 30px 0 20px 30px; 
    position: relative; 
    background-color:rgba(255,255,255,1);
}
*/
/* BIG CONFLICT WITH CONTAINER !!! NEED TO RE-WRITE THIS !!! */
.container li{
    border-bottom: 1px solid #eee; 
    font-size: 14px; 
    list-style: none; 
    padding: 30px 0 20px 30px; 
    position: relative; 
    background-color:rgba(255,255,255,1);
}

.nav-pills{margin-top:30px; margin-left:0;}

.nav-pills li a{
    text-decoration:none;
    font-family:'Dosis', Sans-Serif;
    font-size:28px;
    font-weight:200;
    color:#222222;
    margin-top:20px;
}
    
.nav-pills li img, .nav-pills li .imgcart {
    float:left;
    margin-right:20px;
     -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
} 
    
 /* WS */   
 /* controls hover background color */   
.nav-pills li:hover{
    background-color: #333333 !important;  /* #ff9900 !important; */
    color:#fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5)   
}

.nav-pills li:hover img{
    -webkit-transform: scale(1.1);  
    -moz-transform: scale(1.1);  
    -ms-transform: scale(1.1);  
    -o-transform: scale(1.1);  
    transform: scale(1.1);
}   
 
.nav-pills li:hover a{color:#fff;}  

.nav-pills li:hover .categoryname{color:rgba(255,255,255,0.5);} 

.nav-tabs > li > a, .nav-pills > li > a{padding-left:0px;}  

.content {
    margin-bottom: 0px;
    min-height: 20px;
    padding: 0px;
}
.store-cart-content {
	height:60px;
	margin-left:0px;
	background-color:rgba(255,255,255,1);
}
.filter-button-top {
	float:left;
}
.content-store {
    margin-bottom: 0px;
    min-height: 20px;
    padding: 19px;
}
.content-store.col-md-5 {
	margin-left:10px;
}
.store-down-bottom {
	margin: 10px 20px 0 0px; 
	float:right; 
	text-align:center
}
.store-down-bottom p{
	margin-top:8px;
	color:#0077CC; 
	margin-left:8%;
	float:left;
	text-align: center;
}
.store-pag-button {
	float:left;
	margin-left:50%;
}
.store-button-top {
	height:70px;
	border-bottom: 1px solid #EEEEEE;
	margin-left:0px;
	background-color:rgba(255,255,255,1);
}
.content-store.col-md-5 a img{width:32px;}

.content-store.col-md-5 a {
	font-family: 'Open Sans', Sans-Serif;
    font-size:16px;
}
.content-store.col-md-5 a:hover {
	color:#353B49;
}
.btn-pag-next {
	float:right;
}
.tabs-menu.col-md-5{
    margin-left: 0px;
    margin-right:20px;
    float:right;
}



.shortdesc{
    font-family: 'Roboto',Sans-Serif;
    font-size: 14px;
    font-weight: 300;
    margin-left:12px;
    margin-right: 80px;
    margin-top:20px;
}
    
.description{
    font-family: 'Roboto',Sans-Serif;
    font-size: 14px;
    font-weight: 300;
    margin-left:12px;
    margin-right: 80px;
    margin-top:20px;
}
    
.content_desc{
    font-family: 'Lato',Sans-Serif;
    font-size: 24px;
    font-weight: 300;
    margin-top:40px;
    margin-right: 100px;
    padding:10px 10px 10px 0px;
    float:right;
    height:30px;
}

.content_desc span{
	margin-left:20px;
	 font-size: 20px;
}
.btn-block, .btn-success, .btn-inverse, .btn-primary, .btn-danger {
	background-image: none;
}
.input-append input, .input-append select, .input-append .uneditable-input {
    border-radius: 2px 0 0 2px;
}
.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
    border-radius: 0 2px 2px 0;
}
.btn-cart {
	color:#121212;
	font-weight: 400;
	font-family: 'Open-sans', Sans-Serif;
	background-color: #F5F5F5;
	background-image: none;
}
.form-search .input-append .btn {
    border-radius: 0 0px 0px 0;
}
.form-search .input-append .search-query {
    border-radius: 0px 0 0 0px;
}
input, textarea, .uneditable-input{width:100%;}

.search-query:placeholder {
    color: #222222;
    font-family:'Dosis', Sans-Serif;
    font-size:16px;
    font-weight:200;
}
.search-query::-moz-placeholder {
    color: #222222;
    font-family:'Dosis', Sans-Serif;
    font-size:16px;
    font-weight:200;
}
.search-query:-ms-input-placeholder {  
   color: #222222; 
   font-family:'Dosis', Sans-Serif;
   font-size:16px;
   font-weight:200;
}
.search-query::-webkit-input-placeholder {
   color: #222222; 
   font-family:'Dosis', Sans-Serif;
   font-size:16px;
   font-weight:200;
   
}
.search-query{width: 100%}
.content-search {
    text-align: right;
    width: 30%;
    float:right;
    margin: 10px 60px 0 0;
}
input[type="text"]{
    height:26px;
    background-color:rgba(226,226,226,0.6);
    border:rgba(255,255,255,1);
    border-radius:3px;
    margin-right:20px;
    }

.nav-pills li .categoryname{
    color:rgba(255,255,255,0.4);
    border:rgba(255,255,255,1);
    font-family:'BebasNeuewebfont', Sans-Serif;
    font-size: 36px !important;
    margin-top: 0px !important;
    z-index:99999;
    float:right;
}

/* CART */
.container-fluid{padding:0px;}

table{background:rgba(255,255,255,0.8);}

.cart-txt-shop{padding:30px 20px 40px;}

.cart-txt-shop p{
    font-family:'Open Sana', Sans-Serif;
    font-family: 14px;
    font-weight: 300;
    color:#333;
    margin-top:12px;
    }

.cart-txt-shop img {
	float:left;
	padding-bottom: 20px;
}

.btn {
	border-radius:0px;
	padding:8px 12px;
}
.table-bordered {
	border-radius:0px;
}
.input-append .btn.btn-inverse, .input-append .btn.btn-success {
	padding: 4px 12px;
}




/* PRODUCT */
.content-backcolor {
	background:rgba(255,255,255,1);
}

.table {
	margin-bottom:0px;
	margin-left:15px;
}

.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
	border-radius:0px;
}

.btn-block {
	width:95%;
}

#prod-top.col-md-12{
	margin-left:0px;
	margin-bottom:0px;
}

.ztitle{
	font-weight:900;
}

.cart-txt-top{padding:16px;margin-top:16px;}

.cart-txt-top p{
    font-family:'Open Sana', Sans-Serif;
    font-family: 16px;
    font-weight: 300;
    color:#333;
    margin-top:12px;
    }

.cart-txt-top img {
	float:left;
	padding-bottom: 40px;
}
.prod-top-img {
	background:rgba(255,255,255,1);
}
.tdRight a {
	font-family: 'Open Sans', Sans-Serif;
    font-size:16px;
}

.table tr.well td.tdRight:first-child{
  text-align: right;
  border-right: 0px solid #c2c1c1;
  padding:19px;
}

.table td.tdRight:first-child{
  padding:0px;
}

.table td.tdCenter {
  text-align: center;
}

.table-nonfluid {
   width: auto;
}

td.tdRight .cart-txt-color:hover {
	color:#353B49;
}

.txt-cart-prod{font-size:12px;}

td.detail-title{
	text-align: center;
}

.detail-img img{
	padding: 10px 0;
}
.detail-img2 img{
	padding: 5px 0 5px 15px;
}
.detail-title p{
	vertical-align: middle;
	font-family: 'Open Sans', Sans-Serif;
	font-weight: 700;
	line-height: 80px;
}

.detail-desc p {
	 vertical-align: middle;
	 line-height: 80px;
}

table tr:hover {
	background-color:rgba(255, 255, 255, 0.3);
}
/****FOOTER****/

.content-footer {
	margin-bottom:20px;
}
.content-footer p{
	font-family: 'Open Sans', Sans-Serif;
    font-size:12px;
}
       
@media only screen and (max-width: 1200px) 
{   
  .tabs-menu{display:none;}
  .activegrid ul.nav-pills li {
	    width: 95%;
	    padding: 30px 20px 20px 30px;
	    margin: 0px 0 0;
	    display: block;
	    min-height: 220px;
	    vertical-align: top;
	    border-right:1px solid #EEE;
    }
   .activegrid ul.nav-pills li img{
    text-align:center;
    float:left;
    margin-bottom:20px;
     -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    }
    .activegrid .nav-pills li .categoryname {
        border: medium none #FFFFFF;
        color: rgba(255, 255, 255, 0.4);
        float: right;
        font-family: 'BebasNeuewebfont',Sans-Serif;
        font-size: 36px !important;
        margin-top: 0px !important;
        z-index: 99999;
    }
    .activegrid .content_desc {
        float: right;
        font-family: 'Lato',Sans-Serif;
        font-size: 24px;
        font-weight: 300;
        margin-right: 100px;
        margin-top: 40px;
        padding: 10px 10px 10px 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait)
{
    .store-pag-button {
	    margin-left: 30%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
{
   .store-down-bottom p {
	    margin-left: 4%;
    }
}
@media only screen and (max-width: 767px) 
{
    .table{margin-left:0px;margin-bottom: 15px;}
    .btn-block {
        width: 100%;
        }
    .activegrid ul.nav-pills li img {
	    margin-bottom: 80px;
    }
    .activegrid .content_desc {
	    
    }
    .content-search {
	    width: 83%;
    }
    .store-button-top {
	    height: 110px;
    }
    div.store-cart-footer {
	    height:120px;
    }
    .store-down-bottom {
	    float:left;
	    margin-top:0px;
    }
    .store-pag-button {
        float: left;
        margin-left: 5%;
    }
    .btn-pag-next {
	    float:left;
    }
    .store-down-bottom p {
	    margin-left: 4%;
	    margin-right: 4%;
    }
}
@media only screen and (max-width: 481px) 
{
    .container h1.well {
	     font-size: 28.5px;
    }
    .activegrid ul.nav-pills li img {
	    float:none;
    }
    .content-store.col-md-5 {
        margin-left: 0;
    }
    .flr-top-first {
	    margin: 10px 5px 0 10px;
	    font-size: 12px;
	    line-height: 15px;
    }
    .activegrid .content_desc {
	    margin-right: 40px;
    }
    .activegrid ul.nav-pills li img {
        margin-bottom: 30px;
    }
    button.flr-top {
	    font-size: 12px;
	    line-height: 15px;
    }
    .content-search {
	    margin: 10px 45px 0 0;
    }
    
}
@media only screen and (max-width: 481px) and (orientation: landscape)
{   
    .content-search {
        margin: 10px 50px 0 0;
    }
    .filter-button-top {
        margin-left: 12px;
    }
    /****Cart*****/
    div.input-append .quantity-prod{
	    width:50%;
    }
    .cart-txt-shop p {
        font-size: 12px;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 385px) 
{
    /* PRODUCT DETAILS */   
    .table td.detail-img {
        display: none;
    }
    .table td.detail-img2 {
        display: none;
    }
    .detail-title p {
        font-size: 12px;
        line-height: 30px;
    }
    .detail-desc p {
        font-size: 12px;
        line-height: 30px;
    }    
    .cart-txt-top img {
        float: none;
    }
    
    /* CART */
    div.input-append .quantity-prod{
	    width:40%;
    }

    .cart-txt-shop p {
        font-size: 11px;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 321px) 
{
    body {
        padding-left: 5px;
        padding-right: 5px;
    }
    .container h1.well {
        font-size: 24px;
    }
    .flr-top-first {
	    margin: 10px 4px 0 10px;
	    font-size:11px;
	    padding: 8px 9px;
    }   
    button.flr-top {
        font-size: 11px;
        line-height: 15px;
        padding: 8px 9px;
    }
    button.flr-top {
        margin: 10px 2px 0 0;
    }
    .content-search {
        margin: 10px 39px 0 0;
    }
    /* CART */
    .tab-shop td{font-size:12px;}
}

.product-name {
    font-family:'Open Sana', Sans-Serif !important;
    font-family: 28px !important;
    font-weight: 700 !important;
    color:#333 !important;
    margin-top: 0px !important;
}

.product-desc {
    font-family:'Open Sana', Sans-Serif !important;
    font-family: 28px !important;
    color:#333 !important;
    margin-top: 0px !important;
}